*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100;
    vertical-align: baseline;
    
}
body {
    text-align: center;
    font-family: sans-serif;
}
.header { 
    display: flex;
    justify-content: center;
    align-items: center;

}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #024059;
    position: fixed;
    width: 100%;
    z-index: 100%;

}
.navbar {
    display: flex;
    margin-right: 10px;
}
.logo {
    margin-left: 30px;
}
.logo a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a{
    display: block;
    padding: 40px 40px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a:hover {
    background: #3f3f3f;

}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    height: 60vh !important;
    background: url(Imagenes/radiador.jpg) no-repeat center;
    background-size: cover;

}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color:#fff;

}
p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;

}
.sau {
    padding: 30px;
    background: #024059;

}
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.box-container .box{
    padding: 30px 30px 30px 30px;
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3 5rem rgba(0, 0, 0, .5);
    margin: 2rem;

}
.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    margin: 1rem 0;
    
}
.box-container .box p{
    font-size: 16px;
    padding: 0 15px;
}

.about {
     background: url(img/mecanico.jpg) no-repeat;
     background: fixed;
     color: black;
     
}
